{% extends "layout.html" %}

{% block title %}{{ _('Attendance | Report') }}{% endblock %}

{% block pageTitle %}<i class="bi bi-file-earmark-spreadsheet"></i> {{ _('Attendance Report') }}{% endblock %}

{% block content %}

<div class="row">
    <div class="">
        <p class="mb-3">
            {{ _("The table shows the attendance recorded each Sunday by members attending classes. Use the information in
            this list to Record each person's Attendance in the Tools application or <a target='_blank'
            href='https://lcr.churchofjesuschrist.org/report/class-and-quorum-attendance/overview?lang=spa'>LCR</a>.") |
            safe }}
        </p>
    </div>
    <div class="d-flex justify-content-between">
        {% if session['role'] == 'Admin' or session['role'] == 'Owner' %}       
        <div class="col-md-3 col-lg-3 mb-2">
            <a class="btn btn-primary col-auto" href="{{ url_for('attendance.create_attendance') }}"><i class="bi bi-plus-circle-fill"></i> {{ _('New Attendance') }}</a>
        </div>
        {% endif %}
        <div class="col-md-3 col-lg-3"><p>{{ _('Total Members') }}: <b id="total-members">{{ total_miembros }}</b> </p></div>
    </div>
    <div class="col-md-3 mb-3">
        <div class="input-group">
            <span class="input-group-text"><i class="bi bi-mortarboard-fill"></i></span>
            <select id="class-select" class="form-select">
                <option value="all" >{{ _('All') }}</option>
                {% for clase in available_classes %}
                <option value="{{ clase.class_code }}" data-translated-name="{{ clase.translated_name }}">{{ clase.translated_name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <div class="col-md-3 mb-3">
        <div class="input-group">
            <span class="input-group-text"><i class="bi bi-calendar-month"></i></span>
            <select id="month-select" class="form-select">
                <option value="all" {% if selected_month == 'all' %}selected{% endif %}>{{ _('All') }}</option>
                <option value="Q1" {% if selected_month == 'Q1' %}selected{% endif %}>{{ _('Q1 (Jan - Mar)') }}</option>
                <option value="Q2" {% if selected_month == 'Q2' %}selected{% endif %}>{{ _('Q2 (Apr - Jun)') }}</option>
                <option value="Q3" {% if selected_month == 'Q3' %}selected{% endif %}>{{ _('Q3 (Jul - Sep)') }}</option>
                <option value="Q4" {% if selected_month == 'Q4' %}selected{% endif %}>{{ _('Q4 (Oct - Dec)') }}</option>
                {% for month in available_months %}
                    <option value="{{ month['num'] }}" {% if selected_month == month['num']|string %}selected{% endif %}>
                        {{ month['name'] }}
                    </option>
                {% endfor %}
            </select>
            
        </div>
    </div>
    <div class="col-md-3 mb-3">
        <div class="input-group">
            <span class="input-group-text"><i class="bi bi-calendar3"></i></span>
            <select id="year-select" class="form-select" {% if disable_year %}disabled{% endif %}>
                {% for year in available_years %}
                <option value="{{ year }}" {% if year==selected_year %}selected{% endif %}>{{ year }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="col-md-3 mb-3">
        <div class="input-group">
            <button id="clear-filters" type="button" class="btn btn-warning form-control">
                {{ _('Remove filters') }} <i class="bi bi-funnel"></i>
            </button>
        </div>
    </div>

    <!-- Tabla de Asistencia -->
    <div id="report-container" class="table-responsive mb-4" style="max-height: 600px; overflow-y: auto;">
        {% include "attendance/report_table.html" %}
    </div>
</div>

{% include 'attendance/report_script.html' %}

{% endblock %}