
<input type="hidden" id="total-members-hidden" value="{{ total_miembros }}">

<table class="table table-bordered table-striped table-sm table-hover">
    <thead class="table-dark sticky-top">
      <tr>
        <th scope="col">#</th>
        <th class="text-start">{{ _('Name') }}</th>
        {% for date in dates %}
        <th class="text-center" data-column="{{ loop.index0 }}">
          <input type="checkbox" class="toggle-column" data-column="{{ loop.index0 }}" checked>
          {{ date['formatted'] }}
        </th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for student, attendance in students.items() %}
      <tr>
        <td scope="row">{{ loop.index }}</td>
        <td>{{ student }}</td>
        {% for date in dates %}
        <td class="text-center" data-column="{{ loop.index0 }}">
          {% if attendance[date['date']] %}
          <span class="text-success"><i class="bi bi-check-circle-fill"></i></span>
          {% else %}
          <span class="text-danger"><i class="bi bi-dash-circle"></i></span>
          {% endif %}
        </td>
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
  

