<table class="table table-bordered table-striped">
    <thead class="table-dark">
        <tr>
            <th>#</th>
            <th class="d-none d-md-table-cell">{{_('Wrong Name')}}</th>
            <th>{{_('Correct Name')}}</th>
            <th>{{_('Added By')}}</th>
            <th class="d-none d-md-table-cell">{{_('Created At')}}</th>
            <th>{{_('Actions')}}</th>
        </tr>
    </thead>
    <tbody>
      {% for correction in name_corrections | sort(attribute='wrong_name') %}
        <tr>
            <td>{{ loop.index }}</td>
            <td class="d-none d-md-table-cell">{{ correction.wrong_name }}</td>
            <td>{{ correction.correct_name }}</td>
            <td>{{ correction.added_by }}</td>
            <td class="d-none d-md-table-cell">{{ correction.created_at.strftime('%Y-%m-%d %H:%M:%S') }}</td>
            <td>
              <form  id="deleteForm-correction-{{ correction.id }}" method="POST" action="{{ url_for('correction.delete_name_correction', id=correction.id) }}" style="display:inline;">
                  <button type="button" class="btn btn-danger btn-sm" onclick="confirmDelete('correction', {{ correction.id }})">
                    <i class="bi bi-trash"></i>
                  </button>
              </form>
              <form method="POST" action="{{ url_for('correction.revert_name_correction', id=correction.id) }}" style="display:inline;" id="revert-form-{{ correction.id }}">
                  <button type="button" class="btn btn-success btn-sm" onclick="confirmRevert({{ correction.id }})">
                    <i class="bi bi-recycle"></i>
                  </button>
              </form>
          </td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
    