<!-- app/templates/imports/upload_file.html -->
{% extends 'layout.html' %}
{% block title %}Members | Import{% endblock %}
{% block pageTitle %}<i class="bi bi-database-fill-up"></i>  {{_('Import Member Directory')}}{% endblock %}
{% block content %}
<div class="container mt-4">
    <h3>{{_('Upload File')}}</h3>

    <form method="POST" action="{{ url_for('import.upload_file') }}" enctype="multipart/form-data" class="mt-3">
        <div class="my-4">
            <h4>{{_('Drag and Drop')}}</h4>
            <div id="drop-area" class="border p-5 text-center">
                {{_('Drag your file here or click to select one.')}}
            </div>
        </div>
        <div class="mb-3">
            <label for="file" class="form-label">{{_('Select a file to import')}}</label>
            <input type="file" class="form-control" id="file" name="file" accept=".csv,.xls,.xlsx,.txt" required>
        </div>
        <div class="mb-3">
            <label for="meeting_center_id" class="form-label">{{_('Select Meeting Center')}}</label>
            <select class="form-control" id="meeting_center_id" name="meeting_center_id" required>
                <option value="">{{_('Select')}}</option>
                {% for center in meeting_centers %}
                    <option value="{{ center.id }}">{{ center.name }}</option>
                {% endfor %}
            </select>
        </div>
        
        <button type="submit" class="btn btn-primary">{{_('Map fields')}}</button>
        <a href="{{ url_for('import.download_template') }}" class="btn btn-info">{{_('Download Template')}}</a>
    </form>
    
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        let dropArea = document.getElementById("drop-area");
        
        dropArea.addEventListener("dragover", function(e) {
            e.preventDefault();
            dropArea.classList.add("border-primary");
        });
        
        dropArea.addEventListener("dragleave", function() {
            dropArea.classList.remove("border-primary");
        });
        
        dropArea.addEventListener("drop", function(e) {
            e.preventDefault();
            dropArea.classList.remove("border-primary");
            
            let fileInput = document.getElementById("file");
            fileInput.files = e.dataTransfer.files;
            
            console.log(fileInput.files);  // Verifica en consola si el archivo se asigna correctamente
        });
    });
</script>
{% endblock %}
