<nav class="navbar navbar-expand-lg bg-dark border-bottom border-body sticky-top" data-bs-theme="dark">
    <div class="container">
        <a class="navbar-brand" href="#"> <img src="{{ url_for('static', filename='/img/favicon/android-chrome-512x512.png') }}" alt="Logo" width="30" height="30" class="d-inline-block align-text-top"> Indice Genealogico </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                {% if session['user_id'] %}
                    {% if session['role'] != 'Operator'%}
                        <!-- <li class="nav-item"><a class="nav-link {{ 'active' if request.endpoint == 'routes.index' else '' }}" href="{{ url_for('routes.index') }}"><i class="bi bi-house-fill"></i> {{_('Home') }}</a></li> -->
                        <li class="nav-item"><a class="nav-link {{ 'active' if request.endpoint == 'routes.attendance_report' else '' }}" href="{{ url_for('routes.attendance_report') }}"><i class="bi bi-file-earmark-spreadsheet"></i> {{ _('Report') }}</a></li>
                        <li class="nav-item"><a class="nav-link {{ 'active' if request.endpoint == 'routes.list_pdfs' else '' }}" href="{{ url_for('routes.list_pdfs') }}"><i class="bi bi-file-earmark-pdf"></i>  PDFs</a></li>

                        
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="bi bi-card-checklist"></i> {{ _('Attendance') }}</a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item {{ 'active' if request.endpoint == 'routes.attendances' else '' }}" href="{{ url_for('routes.attendances') }}"><i class="bi bi-clipboard-data"></i>  {{ _('View Attendance') }}</a>
                                <a class="dropdown-item {{ 'active' if request.endpoint == 'routes.manual_attendance' else '' }}" href="{{ url_for('routes.manual_attendance') }}"><i class="bi bi-calendar2-plus"></i></i>  {{ _('Add Attendance') }}</a>
                                <a class="dropdown-item {{ 'active' if request.endpoint == 'routes.register_attendance' else '' }}" href="{{ url_for('routes.register_attendance') }}"><i class="bi bi-calendar2-check"></i>  {{ _('Check Attendance') }}</a>
                            </div>
                        </li>
                        

                        {% if session['role'] in ['Owner', 'Admin', 'Super'] %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="bi bi-gear"></i> {{ 'Admin' }}</a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                                                                
                                        <a class="dropdown-item {{ 'active' if request.endpoint == 'routes.users' else '' }}" href="{{ url_for('routes.users') }}"><i class="bi bi-person-circle"></i>  {{ _('Users') }}</a>
                                        <a class="dropdown-item {{ 'active' if request.endpoint == 'routes.classes' else '' }}" href="{{ url_for('routes.classes') }}"><i class="bi bi-mortarboard-fill"></i>  {{ _('Classes') }}</a>
                                        {% if session['role'] =='Owner' %}
                                        <a class="dropdown-item {{ 'active' if request.endpoint == 'routes.meeting_centers' else '' }}" href="{{ url_for('routes.meeting_centers') }}"><i class="bi bi-buildings"></i>   {{ _('Chuch Units') }}</a>
                                        {% endif %}
                                        
                                        <div class="dropdown-divider"></div>
                                        {% if session['role'] in ['Owner', 'Admin'] %}
                                        <a class="dropdown-item {{ 'active' if request.endpoint == 'routes.render_stats' else '' }}" href="{{ url_for('routes.render_stats') }}"><i class="bi bi-bar-chart-line"></i>  {{ _('Attendance Stats') }}</a>
                                        {% endif %}
                                        {% if session['role'] in ['Owner', 'Admin', 'Super'] %}
                                        <a class="dropdown-item {{ 'active' if request.endpoint == 'routes.admin' else '' }}" href="{{ url_for('routes.admin') }}"><i class="bi bi-gear"></i>  {{ _('Admin Panel') }}</a>
                                        {% endif %}
                                    </div>
                                </li>
                        {% endif %}
                    {% endif %}
                    {% if session['role'] == 'Operator'%}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="bi bi-card-checklist"></i> {{ _('Attendance') }}</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item {{ 'active' if request.endpoint == 'routes.manual_attendance' else '' }}" href="{{ url_for('routes.manual_attendance') }}"><i class="bi bi-calendar2-plus"></i></i>  {{ _('Add Attendance') }}</a>
                        <a class="dropdown-item {{ 'active' if request.endpoint == 'routes.register_attendance' else '' }}" href="{{ url_for('routes.register_attendance') }}"><i class="bi bi-calendar2-check"></i>  {{ _('Check Attendance') }}</a>
                         </div>
                    </li>
                    {% endif %}

                    <div class="circle">
                        <a class="nav-link" href="{{ url_for('routes.profile', id=session['user_id']) }}"><p style="color: black; font-size: 10px; display:block; padding-top: 15px;">{{ session['user_name'] }}</p></a> 
                    </div>                        
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('routes.logout') }}"></i>{{ _('Logout') }}  <i class="bi bi-box-arrow-right"></i></a></i></li>
                {% else %}
                    {% if request.endpoint != 'routes.login' %}
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('routes.login') }}"><i class="bi bi-box-arrow-in-right"></i> {{ _('Login') }}</a></li>
                    {% endif %}
                {% endif %}

                <li class="nav-item"><a class="nav-link"  id="themeSwitcher" href=""><i class="bi bi-brightness-high"></i></a></li>
                <div class="dropdown">
                    <button class="btn btn-dark dropdown-toggle" type="button" id="languageDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                        <img class="langSelector"src="{{ url_for('static', filename='img/flags/lang.svg') }}" alt="{{ get_locale() }}" class="flag-icon">
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="languageDropdown">
                        <li><a class="dropdown-item" href="?lang=en"><img src="{{ url_for('static', filename='/img/flags/en.png') }}" alt="English" class="flag-icon"> English</a></li>
                        <li><a class="dropdown-item" href="?lang=es"><img src="{{ url_for('static', filename='/img/flags/es.png') }}" alt="Español" class="flag-icon"> Español </a></li>
                        <li><a class="dropdown-item" href="?lang=pt"><img src="{{ url_for('static', filename='/img/flags/pt.png') }}" alt="Português" class="flag-icon"> Português</a></li>
                    </ul>
                </div>
            </ul>
        </div>
    </div>
</nav>