<!-- templates/speakers/agenda.html -->

{% extends "layout.html" %}

{% block title %}{{ _('Attendance | Agenda') }}{% endblock %}

{% block head %}

<script src="https://cdn.jsdelivr.net/npm/handsontable@12.1.0/dist/handsontable.full.min.js"></script> 
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/handsontable/styles/handsontable.min.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/handsontable/styles/ht-theme-main.min.css" />



<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<style>
    .htCore td {
        max-width: 180px; /* Ancho máximo de la celda */
        white-space: nowrap; /* Evitar saltos de línea */
        overflow: hidden; /* Ocultar el contenido que excede el ancho */
        text-overflow: ellipsis; /* Agregar puntos suspensivos (...) */
    }
    .htDimmed {
        /*color: #999; /* Color de texto gris claro */
        /*background-color: #f9f9f9; /* Fondo gris claro */
        pointer-events: none; /* Desactivar interacciones con el mouse */
    }
    .htRow{
        background-color: #f4d03f;
    }

    .row {
        --bs-gutter-x: 0rem;
      }

    thead>tr>th:not(:first-child) {
        background-color: #254ac6 !important;
        color: white
      }
    
</style>


{% endblock %}

{% block pageTitle %}<i class="bi bi-megaphone"></i> {{ _('Sacramentral Agenda') }}{% endblock %}
{% block content %}
<h3>{{_('Speakers and Hymns for the Quater')}}</h3>
<div id="agenda-table" class="ht-theme-main-dark-auto"></div>

<div class="col-md-4">
    <h2>Most Used Hymns</h2>
    <table class="table table-striped mt-4">
        <thead>
            <tr>
                <th>#</th>
                <th>Hymn # - Title</th>
                <th>Frecuency</th>
            </tr>
        </thead>
        <tbody>
            {% for hymn in used_hymns %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>#{{ hymn.number}} - "{{hymn.title }}"</td>
                <td>{{ hymn.frequency }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% include 'agendas/test_scripts.html' %}


{% endblock %}