<!-- sacrament_meetings.html -->
{% extends 'layout.html' %}

{% block content %}
    <h2>Himnos</h2>
    <a href="{{ url_for('hymns.add_hymn') }}">Agregar Nuevo Himno</a>
    
    <div class="container">
        <div class="row">
            {% for hymn in hymns %}
                {% if loop.index0 % 3 == 0 %}
                    </div><div class="row">
                {% endif %}
                <div class="col-md-4">
                    <p>{{ hymn.number }} {{ hymn.title }}</p>
                </div>
            {% endfor %}
        </div>
    </div>

    <a class="mb-5" href="{{ url_for('hymns.add_hymn') }}">Agregar Nuevo Himno</a>
{% endblock %}
