body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

}

main {
  flex: 1;
}

.page_404 {
  padding: 40px 0;
  background: #d2d2d2;
  font-family: 'Arvo', serif;
}

.page_404 img {
  width: 100%;
}

.four_zero_four_bg {

  background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
  height: 400px;
  background-position: center;
}


.four_zero_four_bg h1 {
  font-size: 80px;
}

.four_zero_four_bg h3 {
  font-size: 80px;
}

.link_404 {
  color: #d2d2d2 !important;
  padding: 10px 20px;
  background: #39ac31;
  margin: 20px 0;
  display: inline-block;
}

.contant_box_404 {
  margin-top: -50px;
}

.navbar-collapse {
  -ms-flex-positive: 0;
  flex-grow: 0;
}

.circle {
  border-radius: 50%;
  width: 40px;
  height: 30px;
  background-color: #d2d2d2;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;

}


div > label[for="csrf_token"] {
  display: none;
}



.theme-toggle {
    position: fixed;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
}




/* Personalización de etiquetas */
.custom-label {
  font-size: 1rem;
  font-weight: bold;
}

/* Personalización de campos */
.custom-input {
  border-radius: 0.5rem;
  box-shadow: none;
  border: 1px solid #dee2e6;
}

.custom-input:focus {
  border-color: #86b7fe;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}
 
.is-valid {
  border-color: #198754;
}
.is-invalid {
  border-color: #dc3545;
}

.theme-switcher {
  cursor: pointer;
}

.dot-1 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.large-checkbox {
  transform: scale(2);
}

.class_color {
  display: inline-block;
  /* margin: auto; */
  width: 25px; 
  height: 25px;
  border-radius: 50%;
  vertical-align: middle;


}