


{% extends 'layout.html' %}

{% block content %}
    <h2>Reuniones Sacramentales Add</h2>
    <form method="POST" action="{{ url_for('sacramental.add_sacrament_meeting') }}">
      {{ form.hidden_tag() }}
      <div>
          <label for="sunday_date">Fecha de la reunión</label>
          {{ form.sunday_date() }}
      </div>
      <div>
          <label for="director_id">Director</label>
          {{ form.director_id() }}
      </div>
      <div>
          <button type="submit">Crear reunión</button>
      </div>
    </form>
{% endblock %}