{% extends "layout.html" %}
{% block head%} {% endblock %}
{% block title %}Attendance | Admin {% endblock %}

{% block pageTitle %}{{ _('Welcome to the Attendance Management System') }}{% endblock %}
{% block content %}

{% if session['role'] == 'Owner' %}
<div class="form-group col-auto">
    <label class="my-2 mr-2 col-auto" for="meetingCenterSelector">{{ _('Choose a Meeting Center') }}:</label>
    <select class="form-select" id="meetingCenterSelector">
        <option value="all">{{ _('All Meeting Centers') }}</option>
        <!-- Otras opciones de meeting centers -->
    </select>
</div>

<form class="col-auto" id="bypassForm" method="POST" action="/admin/bypass">
    <input type="hidden" name="meeting_center_id" value="{{ meeting_center_id }}">
    <div class="form-inline mb-3">
        <label class="my-2 mr-2 col-auto" for="bypass_restriction">{{ _('Allow attendance any day?') }} </label>
        <select class="form-select" name="bypass_restriction" id="bypass_restriction" data-toggle="tooltip"
            title="Activar esto permitirá registrar asistencia cualquier día de la semana en la unidad de prueba (ID = 2)."
            onchange="submitBypassForm()">
            <option value="true" {% if bypass_enabled=='true' %}selected{% endif %}>{{ _('Yes') }}</option>
            <option value="false" {% if bypass_enabled=='false' %}selected{% endif %}>No</option>
        </select>
    </div>
</form>
{% endif %}
<form class="col-auto" id="verificationForm" method="POST" action="/admin">
    <input type="hidden" name="meeting_center_id" value="{{ meeting_center_id }}">
    <div class="form-inline mb-3">
        <label class="my-2 mr-2 col-auto" for="code_verification">{{ _('Lock QR code?') }} </label>
        <select class="form-select" name="code_verification" id="code_verification" data-toggle="tooltip"
            title="Al activar la Verificación de Domingo, solo se podrá usar la imagen de QR Code impresa para esa semana."
            onchange="submitVerificationForm()">
            <option value="true" {% if verification_enabled=='true' %}selected{% endif %}>{{ _('Yes') }}</option>
            <option value="false" {% if verification_enabled=='false' %}selected{% endif %}>No</option>
        </select>
    </div>
</form>
    {% if session['role'] == 'Owner' %}
    <div class="form-group col-auto">
        <div class="form-inline mb-3">
        <button type="button" class="btn btn-primary"
                href="{{ url_for('routes.export_attendance', **request.args.to_dict()) }}"><i class="bi bi-filetype-csv"></i></button>
    </div>
    {% endif %}
</div>
    <div class="container my-4">
        <h3>Name Corrections</h3>
        <div id="name-corrections-container">
            {% include 'partials/name_correction_table.html' %}
        </div>
    </div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const meetingCenterSelector    = document.getElementById('meetingCenterSelector');
        const nameCorrectionsContainer = document.getElementById('name-corrections-container');
        const bypassRestriction        = document.getElementById('bypass_restriction');
        const codeVerification         = document.getElementById('code_verification');

        // Escuchar cambios en el selector de meeting centers
        meetingCenterSelector.addEventListener('change', toggleSelects);
        meetingCenterSelector.addEventListener('change', function () {
            const selectedMeetingCenterId = this.value;
            localStorage.setItem('selectedMeetingCenterId', selectedMeetingCenterId);
            
            // Actualizar la tabla de correcciones de nombres
            updateNameCorrectionsTable(selectedMeetingCenterId);

            // Actualizar los selects de code_verification y bypass_restriction
            updateSettings(selectedMeetingCenterId);

            // Actualizar el footer
            updateFooter();

            sendMeetingCenterToServer(selectedMeetingCenterId);

        });
            
        // ----------------------------------------------------------------
        // Función para actualizar los selects de code_verification y bypass_restriction
        function updateSettings(meetingCenterId) {
            fetch(`/admin/get_settings?meeting_center_id=${meetingCenterId}`, {
                method: "GET",
                headers: { "X-Requested-With": "XMLHttpRequest" }
            })
                .then(response => response.json())
                .then(data => {
                    // Actualizar el select de code_verification
                    codeVerification.value = data.code_verification;

                    // Actualizar el select de bypass_restriction
                    bypassRestriction.value = data.bypass_restriction;
                })
                .catch(error => console.error("Error al cargar los ajustes:", error));
        }


        // ----------------------------------------------------------------
        // Función para actualizar la tabla de correcciones de nombres
        function updateNameCorrectionsTable(meetingCenterId) {
            fetch(`/admin/name_corrections/filter?meeting_center_id=${meetingCenterId}`, {
                method: "GET",
                headers: { "X-Requested-With": "XMLHttpRequest" }
            })
                .then(response => {
                    if (!response.ok) throw new Error("Error en la respuesta del servidor");
                    return response.text();
                })
                .then(html => {
                    nameCorrectionsContainer.innerHTML = html;
                })
                .catch(error => console.error("Error al cargar los datos:", error));
        }

        // ----------------------------------------------------------------
        // Función para habilitar o deshabilitar los selects
        function toggleSelects() {
            if (meetingCenterSelector.value === 'all') {
                bypassRestriction.disabled = true;
                codeVerification.disabled = true;
            } else {
                bypassRestriction.disabled = false;
                codeVerification.disabled = false;
            }
        }
        // Ejecutar la función al cargar la página
        toggleSelects();
    
        // ----------------------------------------------------------------
        // Función para enviar el meeting center seleccionado al servidor
        function sendMeetingCenterToServer(meetingCenterId) {
            fetch("/meeting_center/set", {
                method: "POST",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({ meeting_center_id: meetingCenterId })
            });
        }

        // ----------------------------------------------------------------   
        // Función para actualizar el footer
        function updateFooter() {
            const meetingCenterId = localStorage.getItem('selectedMeetingCenterId') || 'all';
            const year = new Date().getFullYear();
            const month = new Date().getMonth() + 1;
    
            fetch(`/api/admin_data?meeting_center_id=${meetingCenterId}&year=${year}&month=${month}`, {
                headers: { "X-Requested-With": "XMLHttpRequest" }
            })
                .then(response => response.json())
                .then(data => {
                    const footerContainer = document.getElementById('meetingCenterInfo');
                    if (footerContainer) {
                        footerContainer.innerHTML = data.name ? `${data.name} (${data.unit_number})` : "Please select a valid meeting center.";
                    }
                })
                .catch(error => console.error("Error al cargar el footer:", error));
        }
    
        // Llamada a la API para obtener todos los meeting centers
        fetch("/meeting_center/api")
            .then(response => response.json())
            .then(data => {
                meetingCenterSelector.innerHTML = '<option value="all">{{ _("All Meeting Centers") }}</option>';
    
                data.forEach(meetingCenter => {
                    const option = document.createElement('option');
                    option.value = meetingCenter.id;
                    option.textContent = meetingCenter.name;
                    meetingCenterSelector.appendChild(option);
                });
    
                // Establecer el meeting center seleccionado desde localStorage
                const selectedMeetingCenterId = localStorage.getItem('selectedMeetingCenterId') || 'all';
                meetingCenterSelector.value = selectedMeetingCenterId;
    
                // Actualizar la tabla y el footer al cargar la página
                updateNameCorrectionsTable(selectedMeetingCenterId);
                updateFooter();
            })
            .catch(error => console.error('Error fetching meeting centers:', error));
    });
    
    function submitVerificationForm() {
        document.getElementById('verificationForm').submit();
    }
    
    function submitBypassForm() {
        document.getElementById('bypassForm').submit();
    }
    
</script>

{% endblock %}