{% extends "layout.html" %}
{% block title %}{{ _('Attendance | QR Entry') }}{% endblock %}
{% block pageTitle %}<i class="bi bi-card-checklist"></i> {{_('Attendance Registration')}}{% endblock %}
{% block content %}

{% if not session['user_id'] %}
<p class="mt-3">{{ _('Use this page to add your attendance to the class listed below.') }}</p>
<p>{{ _('Once you submit your attendance and receive a confirmation, you will be able to close the application.') }}</p>
{% endif %}

{% if session['user_id'] %}
<p class="mt-3">{{ _('Use this page to add the attendance to the class listed below.') }}</p>
<p>{{ _('You will be able to record attendance for those people who do not have the means to do so themselves.') }}</p>
{% endif %}

<h4 id="classNameDisplay" class="py-3 text-center"></h4>

<div class="container">
    <div class="row">
        <form id="attendanceForm" method="POST" action="{{ url_for('routes.registrar') }}">
            <div class="input-group">
                <input type="text" class="form-control" id="studentName" name="studentName"
                    placeholder="{{ _('Name & Lastname') }}" aria-label="{{ _('Enter your Name and Last name') }}"
                    aria-describedby="button-addon2">
                {% if session['user_id'] %}
                <a class="btn btn-info" type="button" id="button-back"
                    href="{{ url_for('routes.manual_attendance')}}"></i><i class="bi bi-arrow-left-circle-fill"></i> {{
                    _('Back') }}</a>
                {% endif %}
                <button class="btn btn-success" type="submit" id="button-addon2">{{ _('Send') }} <i
                        class="bi bi-send"></i></button>
            </div>
            <input type="hidden" id="className" name="className">
            <input type="hidden" id="date" name="date">
            <input type="hidden" id="classCode" name="classCode">
            <input type="hidden" id="sundayCode" name="sundayCode">
            <input type="hidden" id="unitNumber" name="unitNumber">
        </form>
    </div>
</div>
<script>
    const params = Object.fromEntries(new URLSearchParams(window.location.search));

    async function initializePage() {
        if (params.classCode && params.sundayCode && params.unitNumber) {
            const isValid = await prevalidateAttendance(params.classCode, params.sundayCode, params.unitNumber);
            if (!isValid) return (window.location.href = "/");
        }

        try {
            const response = await fetch('/get_swal_texts');
            const texts = await response.json();

            const classNameDisplay = document.getElementById("classNameDisplay");
            const buttonAddon2 = document.getElementById("button-addon2");
            const studentName = document.getElementById("studentName");

            if (params.className) {
                classNameDisplay.textContent = decodeURIComponent(params.className);
                ["className", "classCode", "sundayCode", "unitNumber"].forEach(id => {
                    document.getElementById(id).value = params[id] || "";
                });

                document.querySelectorAll('.list-group-item').forEach(item => {
                    item.classList.toggle('active', item.textContent.trim() === decodeURIComponent(params.className));
                });
            } else {
                classNameDisplay.textContent = texts.chooseClass;
                buttonAddon2.disabled = studentName.disabled = true;
            }

            document.getElementById("date").value = new Date().toISOString().split("T")[0];
        } catch (error) {
            console.error("Error al obtener los textos:", error);
        }
    }

    document.addEventListener("DOMContentLoaded", initializePage);
</script>




{% endblock %}