{% extends "layout.html" %}
{% block title %}{{ _('Attendance | List') }}{% endblock %}

{% block head %}
<script>

  // Función para enviar el formulario al cambiar el valor de un select
  function submitForm() {
    document.getElementById('filterForm').submit();
  }
  function clearFilters() {
    //document.getElementById("filterForm").reset();
    //document.getElementById("filterForm").submit();
    // Eliminar todos los parámetros de la URL (filtros)
    window.location.href = "{{ url_for('routes.attendances') }}";
  }

</script>
<style>
  div.input-group {
    margin-bottom: .2rem !important;
  }
</style>

{% endblock %}

{% block pageTitle %}<i class="bi bi-clipboard-data"></i> {{ _('Attendance Records Management') }}{% endblock %}
{% block content %}
<div class="blog-post">
  <div class="col-xl-8">
    <p class="mb-3">
      
    </p>
  </div>
  {% if session['role'] == 'Owner' %}

  {% endif %}
  {% if session['role'] == 'Admin' or session['role'] == 'Owner' %}

  <div class="col-auto mb-2">
    <a class="btn btn-primary col-auto" href="{{ url_for('routes.create_attendance') }}"><i
        class="bi bi-plus-circle-fill"></i> {{ _('New Attendance') }}</a>
  </div>

  {% endif %}
  <div class="mb-5">

    <form id="filterForm" method="GET" action="/attendance/list" class="card mb-3 p-3">
      <p>{{ _('Total Attendance Records') }}: <b>{{ total_registros }} </b></p>
<div class="row mb-2">
    <div class="input-group col-md">
        <span class="input-group-text"><i class="bi bi-person-check-fill"></i></span>
        <select name="student_name" id="student_name" onchange="submitForm()" class="form-select">
            <option value="" disabled {% if not request.args.get('student_name') %}selected{% endif %}>{{ _('Member') }}</option>
            {% for student in students %}
            <option value="{{ student[0] }}" {% if student[0]==request.args.get('student_name') %}selected{% endif %}>
                {{ student[0] }}
            </option>
            {% endfor %}
        </select>
    </div>
    
    <div class="input-group col-md">
        <span class="input-group-text"><i class="bi bi-mortarboard-fill"></i></span>
        <select name="class_name" id="class_name" onchange="submitForm()" class="form-select">
            <option value="" disabled {% if not request.args.get('class_code') %}selected{% endif %}>{{ _('Class') }}</option>
            {% for class in classes %}
            <option value="{{ class[1] }}" {% if class[1]==request.args.get('class_name') %}selected{% endif %}>
                {{ _(class[1]) }}
            </option>
            {% endfor %}
        </select>
    </div>
    <div class="input-group col-md">
        <span class="input-group-text"><i class="bi bi-calendar2-date"></i></span>
        <select name="sunday_date" id="sunday_date" onchange="submitForm()" class="form-select">
            <option value="" disabled {% if not request.args.get('sunday_date') %}selected{% endif %}>{{ _('Date') }}</option>
            {% for sunday in sundays %}
            <option value="{{ sunday['date'].strftime('%Y-%m-%d') }}" {% if sunday['date']|string==request.args.get('sunday_date') %}selected{% endif %}>
                {{ sunday['formatted'] }}  <!-- Usar la fecha formateada -->
            </option>
            {% endfor %}
        </select>
    </div>
    {% if years|length > 1 %}
    <div class="input-group col-md">
        <span class="input-group-text"><i class="bi bi-calendar-event"></i></span>
        <select name="year" id="year" onchange="submitForm()" class="form-select">
            <option value="" disabled {% if not request.args.get('year') %}selected{% endif %}>{{ _('Year') }}</option>
            {% for year in years %}
            <option value="{{ year[0] }}" {% if year[0]|string==request.args.get('year') %}selected{% endif %}>
                {{ year[0] }}
            </option>
            {% endfor %}
        </select>
    </div>
    {% endif %}
    {% if months|length > 1 %}
    <div class="input-group col-md">
        <span class="input-group-text"><i class="bi bi-calendar-month"></i></span>
        <select name="month" id="month" onchange="submitForm()" class="form-select">
            <option value="" disabled {% if not request.args.get('month') %}selected{% endif %}> {{ _('Month') }}</option>
            {% for month, name in months_abr %}
            <option value="{{ month }}" {% if month==request.args.get('month') %}selected{% endif %}>
                {{ name }}
            </option>
            {% endfor %}
        </select>
    </div>
    {% endif %}
    <div class="input-group col-md">
        <button id="filter-clear2" type="button" class="btn btn-warning form-control" onclick="clearFilters()">
            {{ _('Remove filters') }} <i class="bi bi-funnel"></i>
        </button>
    </div>
</div>
    </form>
    <!-- Actions Form -->
    <form method="POST" action="/attendance/list" class="pb-2">
      <!-- Agregar un menú desplegable para seleccionar el número de elementos por página -->
      <!-- <label for="per_page">Records per page</label>
      <select id="per_page_select" name="per_page">
        <option value="10" {% if per_page==10 %}selected{% endif %}>10</option>
        <option value="25" {% if per_page==25 %}selected{% endif %}>25</option>
        <option value="50" {% if per_page==50 %}selected{% endif %}>50</option>
        <option value="100" {% if per_page==100 %}selected{% endif %}>100</option>
        <option value="150" {% if per_page==150 %}selected{% endif %}>150</option>
      </select> -->

      {% include 'partials/attendance_list_table.html' %}
      <!-- Agregar la paginación -->
      <nav aria-label="Page navigation">
        <ul class="pagination">
          {% if pagination.has_prev %}
          <li class="page-item"><a class="page-link"
              href="{{ url_for('routes.attendances', page=pagination.prev_num, per_page=pagination.per_page, class_name=request.args.get('class_name'), student_name=request.args.get('student_name'), sunday_date=request.args.get('sunday_date')) }}">{{_('Previous')}}</a>
          </li>
          {% endif %}
          {% for page_num in pagination.iter_pages() %}
          {% if page_num %}
          <li class="page-item {% if page_num == pagination.page %}active{% endif %}">
            <a class="page-link"
              href="{{ url_for('routes.attendances', page=page_num, per_page=pagination.per_page, class_name=request.args.get('class_name'), student_name=request.args.get('student_name'), sunday_date=request.args.get('sunday_date')) }}">{{
              page_num }}</a>
          </li>
          {% else %}
          <li class="page-item disabled"><span class="page-link">…</span></li>
          {% endif %}
          {% endfor %}
          {% if pagination.has_next %}
          <li class="page-item"><a class="page-link"
              href="{{ url_for('routes.attendances', page=pagination.next_num, per_page=pagination.per_page, class_name=request.args.get('class_name'), student_name=request.args.get('student_name'), sunday_date=request.args.get('sunday_date')) }}">{{_('Next')}}</a>
          </li>
          {% endif %}
        </ul>
      </nav>
    </form>
    {% if session['role'] == 'Owner' %}
    <form id="deleteAllForm" method="POST" action="/attendances" class="mb-5">
      <input type="hidden" name="delete_all" value="true">
      <button id="delete_all" class="btn btn-danger mb-5" type="button" data-toggle="tooltip"
        title="{{ _('Delete all attendance records in the database') }}" {% if not has_records %}disabled{% endif %}>
        {% if not has_records %}
        {{ _('No Attendances to show') }}
        {% else %}
        <i class="bi bi-eraser-fill"></i> {{ _('Delete all records') }}
        {% endif %}
      </button>
    </form>
    <!-- Script para manejar la selección de elementos por página -->
    <script>
      document.addEventListener('DOMContentLoaded', function () {
        const perPageSelect = document.getElementById('per_page_select');

        // Restaurar selección previa desde localStorage
        const savedPerPage = localStorage.getItem('per_page');
        if (savedPerPage) {
          perPageSelect.value = savedPerPage;
        }

        // Cuando el usuario cambia el número de registros por página
        perPageSelect.addEventListener('change', function () {
          localStorage.setItem('per_page', this.value);

          // Agregar el valor al formulario y enviarlo
          const urlParams = new URLSearchParams(window.location.search);
          urlParams.set('per_page', this.value);
          window.location.search = urlParams.toString();
        });
      });
    </script>


    {% endif %}

    {% endblock %}