{% extends "layout.html" %}
{% block title %}{{ _('Attendance | Manual') }} {% endblock %}
{% block pageTitle %}<i class="bi bi-file-earmark-plus"></i>  {{ _('Attendance Registration') }} {% endblock %}
{% block content %}
    <div class="col-md">
        <div class="col-xl-8">
            <p class="mt-1">{{ _('Use this page to add the attendance to the classes listed below. You will be able to record attendance for those people who do not have the means to do so themselves.') }}</p>
            <p>{{ _('To be able register your attendance, first you will need to choose a class.') }}</p>
        </div>
        
        <h4 id="classNameDisplay" class="mb-3 text-center"></h4>

        <div class="list-group my-3">
            {% for class_data in class_links.values() %}
            <li style="list-style-type: none;">
                <a href="{{ class_data['url'] }}" class="list-group-item list-group-item-action">{{ _(class_data['name']) }}</a>
            {% endfor %}
        </div>
        <form id="attendanceForm" method="POST" action="{{ url_for('routes.registrar') }}">
            <div class="input-group mt-4">
                <input type="text" class="form-control" id="studentName" name="studentName" aria-label="{{ _('Enter your Name and Last name') }}" aria-describedby="button-addon2"  placeholder="{{ _('Name & Lastname') }}">
                <button class="btn btn-primary btn-lg" type="submit" id="button-addon2"><i class="fa fa-share-square-o" aria-hidden="true"></i> {{ _('Send') }}</button>               
            </div>
            <input type="hidden" id="className"  name="className">
            <input type="hidden" id="date"       name="date">
            <input type="hidden" id="classCode"  name="classCode">
            <input type="hidden" id="sundayCode" name="sundayCode">
            <input type="hidden" id="unitNumber" name="unitNumber">
        </form>
        <script>
            async function initializePage() {
                // ----------- Configuración de parámetros de clase desde URL ----------- 
                const urlParams  = new URLSearchParams(window.location.search);
                const className  = urlParams.get("className");
                const classCode  = urlParams.get("classCode");
                const sundayCode = urlParams.get("sundayCode");
                const unitNumber = urlParams.get("unitNumber");

                try {
                    const response = await fetch('/get_swal_texts');
                    const texts = await response.json();

                    if (className) {
                        document.getElementById("classNameDisplay").textContent = className;
                        document.getElementById("className").value = decodeURIComponent(className);
                        document.getElementById("classCode").value = classCode;
                        document.getElementById("sundayCode").value = sundayCode;
                        document.getElementById("unitNumber").value = unitNumber;

                        const listGroupItems = document.querySelectorAll('.list-group-item');
                        listGroupItems.forEach(item => {
                            if (item.textContent.trim() === decodeURIComponent(className)) {
                                item.classList.add('active');
                            } else {
                                item.classList.remove('active');
                            }
                        });             
                    } else {
                        document.getElementById("classNameDisplay").textContent = texts.chooseClass;
                        document.getElementById("button-addon2").disabled = true;
                        document.getElementById("studentName").disabled = true;
                    }         

                    // ----------- Establecer la fecha actual -----------
                    document.getElementById("date").value = new Date().toISOString().split("T")[0]; 
                } catch (error) {
                    console.error("Error al obtener los textos:", error);
                }
            }
            // Llamar a la función async
            initializePage();
        </script>
    </div>
{% endblock %}
