{% extends "layout.html" %}

{% block title %}{{ _('Attendance | Check') }}{% endblock %}

{% block pageTitle %}<i class="bi bi-calendar2-check"></i> {{ _('Attendance Check') }}{% endblock %}
{% block content %}

<div class="row">
  <div class="">
    <p class="mb-3">
      {{ _("Falta agregar Contenido Descriptivo") }}
    </p>
  </div>


  <!-- Filtro de clases -->
  <div class="col-md-3 mb-3">
    <div class="input-group">
      <span class="input-group-text"><i class="bi bi-mortarboard-fill"></i></span>
      <select id="class_filter" class="form-select">
        <option value="">{{_('Select a class')}}</option>
        <!-- Se utiliza el class_code para el value y se incluye meeting_center_id en un data attribute -->
        {% for clase in available_classes %}
        <option value="{{ clase.class_code }}" data-meeting-center="{{ clase.meeting_center_id }}">
          {{ clase.translated_name }}
        </option>
        {% endfor %}
      </select>
    </div>
  </div>
  <!-- Filtro de Range -->
  <div class="col-md-3 mb-3">
    <div class="input-group">
      <span class="input-group-text"><i class="bi bi-hourglass-split"></i></span>
      <select id="time_range" class="form-select">
        <option value="last_two_weeks" default>{{ _('Last Two Weeks') }}</option>
        <option value="last_month">{{ _('Last Month') }}</option>
        <option value="year_to_date">{{ _('Year to Date') }}</option>
      </select>
    </div>
  </div>
</div>
  <div class="col-md-6 mb-3">
  <div class="d-flex justify-content-between mb-5">
    <!-- Tabla de estudiantes CON asistencia -->
    <div>
      <h4>{{ _('Members with Attendance') }}</h4>
      <table id="with_attendance_table" class="table table-striped table-sm">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">{{ _('Name') }}</th>
          </tr>
        </thead>
        <tbody>
          {% for student in attendance_students %}
          <tr>
            <td scope="row">{{ loop.index }}</td>
            <td scope="row">{{ student.student_name }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <!-- Tabla de estudiantes SIN asistencia (con checkbox) -->
    <div>
      <h4>{{ _('Members without Attendance') }}</h4>
      <form id="attendance_form">
        <table id="non_attendance_table" class="table table-striped table-sm">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">{{ _('Name') }}</th>
            </tr>
          </thead>
          <tbody>
            {% for student in non_attendance_students %}
            <tr>
              <td scope="row">{{ loop.index }}</td>
              <td scope="row"><input type="checkbox" name="attendance" value="{{ student_name }}" id="select_student">
                <label class="form-check-label" for="select_student">
                  {{ student.student_name }}
                </label>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <button type="button" class="btn btn-success form-control" id="submit_attendance">{{ _('Register Attendance')
          }}</button>
      </form>
    </div>

    </class=>
  </div>
</div>

{% include 'partials/scripts/attendance_check_scripts.html' %}

{% endblock %}