{% extends "layout.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <h2 class="mb-4">{{ title }}</h2>
    <div class="col-lg-8 m-auto">
    <form method="post">
        {{ form.hidden_tag() }}
        {% for field in form %}
            <div class="form-group row mb-1">
                <label for="{{ field.id }}" class="col-sm-2 col-form-label">{{ field.label }}</label>
                <div class="col-sm-10">
                    {{ field(class="form-control", id=field.id) }}
                </div>
                {% if field.errors %}
                    <div class="alert alert-danger mt-2">
                        <ul>
                            {% for error in field.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
        <button class="btn btn-{{ clas }} w-100 offset-md-2 col-sm-10" type="submit">{{ submit_button_text }}</button>
    </form>
</div>
{% endblock %}

