<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{ _('Attendance Hub') }}{% endblock %}</title>

    {% include 'partials/head.html' %}

    {% block head %}{% endblock %}

</head>

<body class="{{ 'logged-in' if session['user_id'] else '' }}">

    <header>
        {% include 'partials/navbar.html' %}
    </header>

    <main  class="pb-5">
        <div class="container">
            <div class="row">
                <p class="my-3">{% block subtitle%}{% endblock%}</p>
                <h2>{% block pageTitle %}{% endblock %}</h2>
                <p class="mb-3">{{ session['meeting_center_name'] if request.endpoint != 'admin.admin' and request.endpoint != 'auth./' else ''}}</p>

                {% block content %} {% endblock %}
                
            </div>
            <div class="col">           
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                    <div id="flash-messages" class="flashes">
                        {% for category, message in messages %}
                        <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                            <p>{{ message }}</p>
                        </div>
                        {% endfor %}
                    </div>
                    {% endif %}
                {% endwith %}
            </div>
        </div>
    </main>
    
    {% if session['user_id'] %}
    <footer>
        {% include 'partials/footer.html' %}
    </footer>
    {% endif %}

    {% block scripts %}
    {% include 'partials/scripts/bottom_scripts.html' %}
    {% endblock %}


</body>

</html>