<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Attendance{% endblock %}</title>

    {% include 'partials/head.html' %}

    {% block head %}{% endblock %}

</head>

<body class="{{ 'logged-in' if session['user_id'] else '' }}">
    <head>
        {% include 'partials/navbar.html' %}
    </head>
    <main>
<div class="container">
    <div class="row">
        <h2 class="blog-post-title">
            {% block header %}{% endblock %}
        </h2>
        <p class="mb-3">{% block subtitle%}{% endblock%}</p>
        {% block content %} {% endblock %}
    </div>
</div>

    </main>
    <footer>
        {% include 'partials/footer.html' %}
    </footer>

    {% block scripts %}
        {% include 'partials/scripts.html' %}
    {% endblock %}

    
</body>

</html>