{% extends "layout.html" %}
{% block title %}Attendance | PDFs{% endblock %}
{% block content %}
    <h2>QR Code Generation</h2>
    <p>On this page, you can generate and download for printing, the sheets with the QR Code images that the member can scan to register their attendance at the classes.</p>

      <div class="col-md-8">
        <h3>Files Availables:</h3>
        <ul>
            {% for filename in pdf_files %}
            <li><a href="/download_pdf/{{ filename }}">{{ filename }}</a></li>
            {% endfor %}
        </ul>
    
        <!-- Botón para generar PDFs -->
        {% if session['role'] =='Owner' or session['role'] =='Admin' %}
        <div class="row">
            <div class="col-sm-12 col-lg-6 mb-2">
                <form class="d-grid gap-2" action="/generate_week_pdfs" method="POST">
                    <button class="btn btn-warning btn-block"  data-toggle="tooltip" title="Crea PDF para cada clase en la semana actual" type="submit">Generate PDFs for Week</button>
                </form>
            </div>
            <div class="col-sm-12 col-lg-6">
                <form class="d-grid gap-2" action="/generate_all_pdfs" method="POST">
                    <button class="btn btn-primary btn-block" data-toggle="tooltip" title="Crea PDF para todas las clases" type="submit">Generate all PDFs</button>
                </form>
            </div>
        </div>
        {% endif %}
    </div>
        
{% endblock %}
