{% extends "layout.html" %}
{% block title %}{{ _('Attendance | PDFs') }}{% endblock %}
{% block head %}
{% include 'partials/scripts/list_pdfs_scripts.html' %}

{% endblock %}
{% block pageTitle %}<i class="bi bi-qr-code"></i> {{ _('QR Code Generation') }}{% endblock %}
{% block content %}
<div class="col-xl-8">
    <p class="mb-3">{{ _('On this page, you can generate and download for printing, the sheets with the QR Code images
        that the member can scan to register their attendance at the classes.') }}</p>
</div>

<h3>{{ _('Files Availables:') }}</h3>
<div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
    <div class="list-group list-group-numbered mt-3 mb-4">
        {% for filename in pdf_files %}
        <a class="list-group-item list-group-item-action" href="/pdf/view/{{ filename }}">{{ filename }}</a>
        {% endfor %}
    </div>
</div>
<!-- Botón para generar PDFs -->
<div class="col-md-8 offset-md-2 col-lg-10 offset-lg-1">

    <div class="row">
        <div class="col-sm-12 col-lg-4 mb-2">
            <form class="d-grid gap-2" action="/pdf/generate_week" method="POST">
                <button class="btn btn-success btn-block" data-toggle="tooltip"
                    title="{{ _('Create PDF for each class in the current week') }}" type="submit" {% if not
                    has_main_classes %} disabled {% endif %}>
                    <i class="bi bi-calendar2-week"></i> {{ _('Generate PDFs for Week') }}
                </button>
            </form>
        </div>
        {% if session['role'] == 'Owner' or session['role'] == 'Admin' %}
        <div class="col-sm-12 col-lg-4 mb-2">
            <form class="d-grid gap-2" action="/pdf/generate_all" method="POST">
                <button class="btn btn-primary btn-block" data-toggle="tooltip"
                    title="{{ _('Create PDF for all classes') }}" type="submit" {% if not has_classes %} disabled {%
                    endif %}>
                    <i class="bi bi-collection"></i> {{ _('Generate all PDFs') }}
                </button>
            </form>
        </div>
        {% endif %}
        <div class="col-sm-12 col-lg-4 mb-2">
            <form class="d-grid gap-2" id="extra-class-form" action="/pdf/generate_extra" method="POST">
                <input type="hidden" name="date" id="extra-class-date"> <!-- Campo oculto para la fecha -->
                <button class="btn btn-secondary btn-block" id="generate-extra-pdfs-btn" data-toggle="tooltip"
                    title="{{ _('Create PDF for all Extra classes') }}" type="button" {% if not has_extra_classes %}
                    disabled {% endif %}>
                    <i class="bi bi-file-earmark"></i> {{ _('Generate Extra class PDFs') }}
                </button>
            </form>

        </div>
    </div>
</div>


{% endblock %}