{% extends "layout.html" %}
{% block title %}Attendance | Login{% endblock %}




<style>
html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #ffff;
  opacity: 1;
}


</style>

{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-5">
      <div class="card-group mb-0">
        <div class="card p-4 mb-3">
          <div class="card-body  text-center">
            <img class="mb-4" src="{{ url_for('static', filename='/img/favicon/android-chrome-512x512.png') }}" alt="" width="72" height="72">
            <h1 class="h3 mb-3 fw-normal">Please log in!</h1>
            <form id="loginForm" method="POST">

              <div class="input-group mb-3 form-floating">

                <input type="text" class="form-control" placeholder="Username" aria-label="Username"
                aria-describedby="username" name="username" required>
                <span class="input-group-text" id="username"><i class="fa fa-user"></i></span>
                <label class="ml-2" for="username">Username</label>
              </div>


              <div class="input-group mb-3 form-floating">

                <input type="password" class="form-control" placeholder="Contraseña" aria-label="Contraseña"
                name="password" required aria-describedby="password">
                <span class="input-group-text" id="password"><i class="fa fa-lock"></i></span>
                  <label for="password">Password</label>
              </div>

                <button type="submit" class="w-100 btn btn-lg btn-primary px-4">Log in</button>
                <p class="mt-5 mb-3 text-muted">© 2025</p>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



{% endblock %}