{% extends "layout.html" %}
{% block title %}{{ _('Attendance | Login') }}{% endblock %}

<style>
  body {
    background-color: #ffff;
    opacity: 1;
  }

</style>

{% block content %}
<div class="d-flex ">
  <div class="container text-center">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card-group mb-0">
          <div class="card p-4 mb-3">
            <div class="card-body">
              <img class="mb-4" src="{{ url_for('static', filename='/img/favicon/android-chrome-512x512.png') }}" alt=""
                width="72" height="72">
              <h1 class="h3 mb-3 fw-normal">{{ _('Please log in!') }}</h1>
              <form id="loginForm" method="POST">
                <div class="input-group mb-3">
                  <span class="input-group-text" id="username"><i class="fa fa-user"></i></span>
                  <input type="text" class="form-control  form-control-lg" placeholder="{{ _('Username') }}"
                    aria-label="{{ _('Username') }}" aria-describedby="username" name="username" required>
                </div>
                <div class="input-group mb-3">
                  <span class="input-group-text" id="password"><i class="fa fa-lock"></i></span>
                  <input type="password" class="form-control  form-control-lg" placeholder="{{ _('Password') }}"
                    aria-label="{{ _('Password') }}" name="password" id="passwordInput" required>
                  <button type="button" class="btn btn-secondary" id="togglePassword" tabindex="-1">
                    <i class="bi bi-eye"></i>
                  </button>
                </div>
                <div class="d-flex justify-content-between align-items-center mb-3">
                  <div class="col-7">
                    <button type="submit" class="w-100 btn btn-lg btn-primary px-4">{{ _('Log in') }}</button>
                  </div>
                  <div class="col-5">
                    <input type="checkbox" class="form-check-input me-2" id="remember_me" name="remember_me">
                    <label class="form-check-label" for="remember_me">{{ _('Remember Me') }}</label>
                  </div>
                </div>
                <p class="mt-5 mb-3 text-muted">© 2025</p>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% include 'partials/scripts/login_scripts.html' %}
{% endblock %}