{% extends "layout.html" %}
{% block title %}Attendance | Manual {% endblock %}

{% block header %} Attendance Registration{% endblock %}

{% block content %}
<div class="col-md text-center"">
    <p class="mt-2">Use this page to add the attendance to the classes listed below.
    You will be able to record attendance for those people who do not have the means to do so themselves.</p>

<p>To be able register your attendance, first you will need to choose a class.</p>
<h4 id="classNameDisplay" class="mb-3 text-center"></h4>
    
    <div class="divider">
        <div class="mt-3">
            {% for class_data in class_links.values() %}
            <li style="list-style-type: none;" class="mb-2">
                <a href="{{ class_data['url'] }}" class="btn btn-success btn-block ">{{ class_data['name'] }}</a>
                {% endfor %}
        </div>
    </div>

    <form id="attendanceForm" method="POST" action="{{ url_for('routes.registrar') }}">
        <div class="input-group mt-4">
            <!-- <div class="input-group-prepend">
                <span class="input-group-text" id="">First & Last name</span>
            </div> -->
            <input type="text" class="form-control" id="studentName" name="studentName" aria-label="Enter your Name and Last name" aria-describedby="button-addon2"  placeholder="Nombre y Apellido">
            <div class="input-group-append">
                <button class="btn btn-warning" type="submit" id="button-addon2"><i class="fa fa-share-square-o" aria-hidden="true"></i> Send</button>               
            </div>
        </div>

        <input type="hidden" id="className" name="className">
        <input type="hidden" id="date" name="date">
        <input type="hidden" id="classCode" name="classCode">
        <input type="hidden" id="sundayCode" name="sundayCode">
        <input type="hidden" id="unitNumber" name="unitNumber">

    </form>
    <script>       
        // Configuración para mostrar y establecer la clase
        const urlParams  = new URLSearchParams(window.location.search);
        const className  = urlParams.get('class_name');
        const classCode  = urlParams.get('class');
        const sundayCode = urlParams.get('code');
        const unitNumber = urlParams.get('unit');

        console.log("Parámetros de la URL:", { className, classCode, sundayCode, unitNumber });  // Salida de depuración
    
        // Asigna valores a los campos ocultos
        if (className) {
            document.getElementById('classNameDisplay').textContent = `Class: ${decodeURIComponent(className)}`;
            document.getElementById('className').value              = decodeURIComponent(className);
            document.getElementById('sundayCode').value             = sundayCode;
            document.getElementById('unitNumber').value             = unitNumber;
            document.getElementById('classCode').value              = classCode;
        } else {
            document.getElementById('classNameDisplay').textContent = 'Choose a Class';
            document.getElementById('button-addon2').disabled       = true;
            document.getElementById('studentName').disabled         = true;
        }
    
        // Establece la fecha actual
        document.getElementById('date').value = new Date().toISOString().split('T')[0];
 </script>
    {% endblock %}