{% extends "layout.html" %}
{% block title %}{{ _('Attendance | Organizations') }}{% endblock %}

{% block head %}

{% endblock %}
{% block pageTitle %}<i class="fa fa-sitemap" aria-hidden="true"></i>  {{ _('Organizations Management') }}{% endblock %}

{% block content %}
    <div class="col-xl-8">
      <p class="mb-3">
        {{ _("Something") }}
      </p>
    </div>
    <div>
      <a class="btn btn-primary mb-3" href="{{ url_for('routes.create_organization') }}"><i class="fa fa-plus" aria-hidden="true"></i>  {{ _('Add New Organization') }}</a> 
    </div> 
    <div class="list-group list-group-numbered">
      {% for org in organizations %}
        <a class="list-group-item list-group-item-action" data-toggle="tooltip" title="{{ _('Edit Organization') }}" href="{{ url_for('routes.edit_organization', id=org.id) }}">
          
          {{ _(org.name) }}
        </a>

      {% endfor%}
      </div>    
{% endblock %}