<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Speaker</title>
</head>
<body>
    <h1>Create Speaker</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div>
            {{ form.sunday_date.label }}<br>
            {{ form.sunday_date(class="form-control") }}
        </div>
        <div>
            {{ form.youth_speaker_id.label }}<br>
            {{ form.youth_speaker_id(class="form-control") }}
        </div>
        <div>
            {{ form.youth_topic.label }}<br>
            {{ form.youth_topic(class="form-control") }}
        </div>
        <div>
            {{ form.speaker_1_id.label }}<br>
            {{ form.speaker_1_id(class="form-control") }}
        </div>
        <div>
            {{ form.topic_1.label }}<br>
            {{ form.topic_1(class="form-control") }}
        </div>
        <div>
            {{ form.speaker_2_id.label }}<br>
            {{ form.speaker_2_id(class="form-control") }}
        </div>
        <div>
            {{ form.topic_2.label }}<br>
            {{ form.topic_2(class="form-control") }}
        </div>
        <div>
            {{ form.speaker_3_id.label }}<br>
            {{ form.speaker_3_id(class="form-control") }}
        </div>
        <div>
            {{ form.topic_3.label }}<br>
            {{ form.topic_3(class="form-control") }}
        </div>
        <div>
            {{ form.meeting_center_id.label }}<br>
            {{ form.meeting_center_id(class="form-control") }}
        </div>
        <div>
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
</body>
</html>