<script>
    const availableQuarters = {{ quarters_with_data | tojson }};
</script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const monthSelect         = document.getElementById("month-select");
        const classSelect         = document.getElementById("class-select");
        const yearSelect          = document.getElementById("year-select");
        const clearFilters        = document.getElementById("clear-filters");
        const reportContainer     = document.getElementById("report-container");
        const quarterSelect       = document.getElementById("quarter-select");
        const totalMembersElement = document.getElementById("total-members");
        const checkboxes          = document.querySelectorAll('.toggle-column');

        // Ordenar las opciones del select de clases
        const options = Array.from(classSelect.options);
        const allOption = options.shift();
        options.sort((a, b) => a.getAttribute('data-translated-name').localeCompare(b.getAttribute('data-translated-name')));
        options.unshift(allOption);
        classSelect.innerHTML = '';
        options.forEach(option => classSelect.appendChild(option));

        // Deshabilitar trimestres sin datos
        function disableUnavailableQuarters() {
            for (const option of monthSelect.options) {
                const quarter = option.value; // El valor de la opción es Q1, Q2, Q3, Q4
                if (availableQuarters[quarter] === false) {
                    option.disabled = true; // Deshabilitar la opción si no hay datos
                } else {
                    option.disabled = false; // Habilitar la opción si hay datos
                }
            }
        }
        disableUnavailableQuarters();

        // Aplicar filtros y actualizar la tabla
        function applyFilters() {
            const selectedMonth = monthSelect.value;
            const selectedYear = yearSelect.value;
            const selectedClass = classSelect.value;

            fetch(`/attendance/report?year=${selectedYear}&month=${selectedMonth}&class=${selectedClass}`, {
                method: "GET",
                headers: { "X-Requested-With": "XMLHttpRequest" }
            })
            .then(response => {
                if (!response.ok) throw new Error("Error en la respuesta del servidor");
                return response.text();
            })
            .then(html => {
                reportContainer.innerHTML = html;
                updateTotalMembers();
            })
            .catch(error => console.error("Error al cargar los datos:", error));
        }

        // Actualizar el total de miembros
        function updateTotalMembers() {
            const totalMembersHidden = document.getElementById("total-members-hidden");
            if (totalMembersHidden) {
                totalMembersElement.textContent = totalMembersHidden.value;
            } else {
                console.log("No se encontró el campo total-members-hidden");
            }
        }

        // Limpiar filtros y restablecer la tabla
        clearFilters.addEventListener("click", function () {
            const currentDate = new Date();
            const currentMonth = currentDate.getMonth() + 1;
            const currentYear = currentDate.getFullYear();

            // Determinar el trimestre actual basado en el mes
            let currentQuarter;
            if (currentMonth >= 1 && currentMonth <= 3) {
                currentQuarter = "Q1";
            } else if (currentMonth >= 4 && currentMonth <= 6) {
                currentQuarter = "Q2";
            } else if (currentMonth >= 7 && currentMonth <= 9) {
                currentQuarter = "Q3";
            } else {
                currentQuarter = "Q4";
            }

            fetch("/attendance/report", {
                method: "GET",
                headers: { "X-Requested-With": "XMLHttpRequest" }
            })
            .then(response => {
                if (!response.ok) throw new Error("Error en la respuesta del servidor");
                return response.text();
            })
            .then(html => {
                const tempDiv = document.createElement("div");
                tempDiv.innerHTML = html;
                const updatedTotalMembers = tempDiv.querySelector("#total-members-hidden");

                if (updatedTotalMembers) {
                    totalMembersElement.innerText = updatedTotalMembers.value;
                } else {
                    console.log("No se encontró el elemento #total-members-hidden en la respuesta del servidor");
                }

                reportContainer.innerHTML = html;

                // Restablecer selectores a valores predeterminados
                monthSelect.value = currentQuarter;
                yearSelect.value = currentYear;
                classSelect.value = "all";
            })
            .catch(error => console.error("Error al limpiar los filtros:", error));
        });

        // Delegación de eventos para clic en las filas de la tabla
        reportContainer.addEventListener("click", function (event) {
            const row = event.target.closest("tr");
            if (row) {
                document.querySelectorAll("table tbody tr").forEach(r => r.classList.remove("table-active", "custom-active"));
                row.classList.add("table-active", "custom-active");
            }
        });

        // Delegación de eventos para checkboxes de columnas
        document.querySelector("#report-container").addEventListener("change", function(event) {
            if (event.target.classList.contains('toggle-column')) {
                const columnIndex = event.target.getAttribute('data-column');
                document.querySelectorAll(`th[data-column="${columnIndex}"], td[data-column="${columnIndex}"]`)
                    .forEach(cell => cell.style.display = event.target.checked ? '' : 'none');
            }
        });

        // Eventos para los selectores
        monthSelect.addEventListener("change", applyFilters);
        yearSelect.addEventListener("change", applyFilters);
        classSelect.addEventListener("change", applyFilters);
    });
</script>
