<script>
  // Function to load the state from localStorage and set the dropdown value
  function loadInactiveClassesPreference() {
      const showInactive = localStorage.getItem('showInactiveClasses') || 'false';
      document.getElementById('inactive_classes_toggle').value = showInactive;
      filterClasses(showInactive);
  }

  // Function to toggle and save the preference for showing inactive classes
  function toggleInactiveClasses() {
      const showInactive = document.getElementById('inactive_classes_toggle').value;
      localStorage.setItem('showInactiveClasses', showInactive);
      filterClasses(showInactive);
  }

  // Function to filter classes based on preference
  function filterClasses(showInactive) {
      const rows = document.querySelectorAll('.class-row');  // Assuming each class is wrapped in an element with class 'class-row'
      rows.forEach(row => {
          const isActive = row.getAttribute('data-is-active') === 'true';
          row.style.display = (showInactive === 'true' || isActive) ? '' : 'none';
      });
  }
  async function resetColor(classId) {
    texts = await fetch('/get_swal_texts').then(res => res.json());
      Swal.fire({
          title: texts.confirmDelete,
          text: texts.colorResetText,
          icon: 'warning',
          showCancelButton: true,
          cancelButtonText: texts.cancel,
          confirmButtonText: texts.yesResetIt,
          reverseButtons: true
      }).then((result) => {
          if (result.isConfirmed) {
              fetch(`/class/reset_color/${classId}`, {
                  method: 'POST',
                  headers: { 'Content-Type': 'application/json' }
              })
              .then(response => {
                  if (response.ok) {
                      Swal.fire({
                          title: texts.successTitle,
                          text: texts.colorSuccessText,
                          icon: 'success',
                          confirmButtonText: 'OK'
                      }).then(() => location.reload()); // Recarga la página tras el cierre del modal
                  } else {
                      Swal.fire({
                          title: texts.errorTitle,
                          text: texts.colorErrorText,
                          icon: 'error',
                          confirmButtonText: 'OK'
                      });
                  }
              })
              .catch(error => {
                  console.error("Error:", error);
                  Swal.fire({
                      title: texts.errorTitle,
                      text: texts.connectionError,
                      icon: 'error',
                      confirmButtonText: 'OK'
                  });
              });
          }
      });
  }

  // Load the state when the page is loaded
  document.addEventListener('DOMContentLoaded', loadInactiveClassesPreference);
</script>