{% extends "layout.html" %}
{% block title %}{{ _('Attendance | Reset Name') }} {% endblock %}
{% block head %}
<script>
document.addEventListener('DOMContentLoaded', () => {
    const savedName = localStorage.getItem("studentName");

    fetch('/swal/get_swal_texts')
        .then(response => response.json())
        .then(texts => {
            if (savedName) {
                Swal.fire({
                    title: texts.resetStudentName,
                    text: texts.savedNameText.replace("{name}", savedName),
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonText: texts.yesClearIt,
                    cancelButtonText: texts.cancel
                }).then((result) => {
                    if (result.isConfirmed) {
                        localStorage.removeItem("studentName");
                        Swal.fire(texts.cleared, texts.nameRemoved, 'success').then(() => {
                            window.location.href = 'https://www.churchofjesuschrist.org/?lang=spa';
                        });
                    } else {
                        Swal.fire(texts.cancelled, texts.nameNotRemoved, 'info').then(() => {
                            window.location.href = 'https://www.churchofjesuschrist.org/?lang=spa';
                        });
                    }
                });
            } else {
                Swal.fire(texts.noNameFound, texts.noNameSaved, 'info').then(() => {
                    window.location.href = 'https://www.churchofjesuschrist.org/?lang=spa';
                });
            }
        })
        .catch(error => console.error('Error fetching texts:', error));
});
</script>

{% endblock %}